@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Nunito Sans", sans-serif;
}

.top-header-area {
  background-image: linear-gradient(270deg, #b36, #a6468c, #835aa6, #576ab0, #2775ab);
  z-index: 50;
  float: left;
  width: 100%;
}

.container {
    max-width: 90%;
    margin: 0 5%;
    padding: 0;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.show-mobile{
  display: none;
}

@media (max-width: 1450px) {
    .container {
        max-width: 96%;
        margin: 0 2%;
        padding: 0;
    }
}

@media (min-width: 1280px) {
    .xl\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 1024px) {
    .show-mobile {
        display: block;
    }
}